
html, body {
    margin: 0;
    height: 100%;
    background-color: #161512;
    color: white;
}

nav, footer {
    height: 56px;
    background-color: #282520;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    padding: 20px;
}

#moves-wrapper {
    border: 1px solid;
    width: 250px;
}

#move-btn-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

.move-btn {
    background-color: darkgrey;
    border-radius: 0px;
}

#moves {
    border-spacing: 0px;
    width: 100%;
}

#moves tr:nth-child(2n) td {
    background-color: grey;
}

#settings-toggle-wrapper {
    position: relative;
}

#settings-toggle {
    display: none;
}

#settings-icon {
    height: 40px;
    width: 40px;
    background-size: 100% 100%, auto;
    background-repeat:no-repeat;
    background-position:center center;
}

#settings {
    display: none;
    position: absolute;
    flex-direction: column;
    border: 1px solid;
    /* width: 25%; */
    padding: 10px;
    /* display: none; */
    background-color: black;
}

#settings-toggle:checked ~ #settings {
    display: flex;
}


label {
    user-select: none; /* chrome and Opera */
    -moz-user-select: none; /* Firefox */
    -webkit-text-select: none; /* IOS Safari */
    -webkit-user-select: none; /* Safari */
}

/* NOTE: Tafl Board */

#tafl-grid-wrapper {
    position: relative;
}

#files {
    position: absolute;
    display: flex;
    top: -24px;
    width: 100%;
}

#files > * {
    flex-grow: 1;
    text-align: center;
}

#ranks {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -25px;
    height: 100%;
}

#ranks > * {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
}

/* #ranks::before { */
/*     content: ""; */
/*     height: 25px; */
/*     width: 25px; */
/* } */
/**/
/* #ranks::after { */
/*     content: ""; */
/*     height: 25px; */
/*     width: 25px; */
/* } */


#tafl-border {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    max-width: 80vh;
    float: right;
    border: 25px solid #996633;
    /* TODO: dynamic board border */
    /* background: #996633; */
    /* padding: calc(25 / 600 * 100%); */
}

#tafl-border::after {
    content: "";
    display: block;
    /* padding is calculated as percent of parent's width */
    padding-bottom: 100%;
}

#tafl-board {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../assets/pieces/Tafl-Board-Borderless.svg");
    background-size: 100% 100%, auto;
    background-repeat:no-repeat;
    background-position:center center;
}

/* WARN: the following class names must match corresponding values in the css_elements object in taflboard.js */
/* 'attacker', 'defender', 'king', 'move-dest', 'ghost', 'start-square', 'end-square', 'capture-square' */

.attacker {
    background: url("../assets/pieces/Attacker.svg");
    background-size: 80% 80%, auto;
}

.defender {
    background: url("../assets/pieces/Defender.svg");
    background-size: 80% 80%, auto;
}

.king {
    background: url("../assets/pieces/King.svg");
    background-size: 80% 80%, auto;
}

.move-dest {
    background: url("../assets/pieces/Move-Dest.svg");
    background-size: 40% 40%, auto;
    opacity: 0.5;
}

.move-dest:hover {
    background-color: green;
}

.start-square, .end-square {
    background-color: yellow;
    opacity: 0.3;
}

.capture-square {
    background-color: red;
    opacity: 0.3;
}

#ghost {
    z-index: 4;
}

.attacker, .defender, .king, .move-dest, .start-square, .end-square, .capture-square {
    position: absolute;
    margin: auto;
    height: calc(100% / 11);
    width: calc(100% / 11);
    background-repeat:no-repeat;
    background-position:center center;
    z-index: 3;
}

.start-square, .end-square {
    z-index: 2;
}


@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    #tafl-wrapper {
        float: none;
    }
    #moves-wrapper {
        /* display: none; */
        width: 100%;
    }

}

@media only screen and (max-width: 412px) {
    main {
        grid-template-rows: 1fr 2fr;
    }
}
