<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Viking Chess</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/taflboard.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/ai.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/render.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/move_stack.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <nav>
            <div>Placeholder Navbar</div>
        </nav>

        <main>

            <div id="tafl-grid-wrapper">
                <div id="tafl-border">
                    <div id="tafl-board"></div>
                    <div id="files">
                        <div>A</div>
                        <div>B</div>
                        <div>C</div>
                        <div>D</div>
                        <div>E</div>
                        <div>F</div>
                        <div>G</div>
                        <div>H</div>
                        <div>I</div>
                        <div>J</div>
                        <div>K</div>
                    </div>
                    <div id="ranks">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                        <div>7</div>
                        <div>8</div>
                        <div>9</div>
                        <div>10</div>
                        <div>11</div>
                    </div>
                </div>
                <!-- <input type="text" name="move-input" value="d1d3" onclick="no_render_play_move"> -->
            </div>

            <div id="moves-wrapper">

                <div id="move-btn-container">

                    <div class="settings-toggle-wrapper">

                        <input type="checkbox" name="settings-toggle" value="" id="settings-toggle">
                        <label for="settings-toggle">
                            <img src="assets/icons/gear-icon.svg" alt="Settings" id="settings-icon">
                        </label>

                        <div id='settings' class="col">
                            <label class="switch">
                                <input type="checkbox" checked id="king_enter_thrown" class="rule-btn">
                                <span></span>
                                <label for="king_enter_thrown">king enter thrown</label>
                            </label>
                            <label class="switch">
                                <input type="checkbox" id="enter_trap" class="rule-btn">
                                <span></span>
                                <label for="enter_trap">enter hostile</label>
                            </label>
                            <label class="switch">
                                <input type="checkbox" checked id="hostile_towers" class="rule-btn">
                                <span></span>
                                <label for="hostile_towers">hostile towers</label>
                            </label>
                        </div>

                    </div>

                    <button type="button" id="first-move" class="move-btn" onclick="first_move()"><<</button>
                    <button type="button" id="prev-move" class="move-btn" onclick="undo_move()"><</button>
                    <button type="button" id="next-move" class="move-btn" onclick="redo_move()">></button>
                    <button type="button" id="last-move" class="move-btn" onclick="last_move()">>></button>

                </div>

                <table id="moves-tbl">
                    <tbody>
                    </tbody>
                </table>

            </div>



        </main>

    </body>
</html>
